{% extends 'base/new_post.html' %}

{% block content %}
<li class="list-group-item"><h2>{{post.title}}</h2><a href="{% url 'accounts:userDetail' post.author.username %}" class="text-dark"><img
                                src="{{ post.author.icon.url }}" class="timeline-icon" style="height:75">
                                {{ post.author.username }}
                        </a>

</li>

       {{ text }}

{% endblock %}

<script>
    $(document).ready(function() {
    $('#summernote').summernote();
    });
</script>